.site_footer {
    background-color: var(--main-bg);
    color: white;
    .wrapper {
        padding: 60px 0 30px;
        max-width: 1026px;
        margin: 0 auto;
        justify-content: space-between;
    }
    h5 {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    .menu {
        a {
            font-weight: 600;
            display: block;
            padding: 6px 0;
            color: #707070;
            &:hover {
                color: white;
            }
        }
    }
    .links {
        a {
            padding: 8px 0;
            display: flex;
            align-items: center;
            gap: 7px;
            &:hover {
                color: #707070;
            }
        }
    }
    .copyright {
        padding: 16px 0;
        text-align: center;
        p {
            color: #707070;
            font-weight: 600;
        }
    }
}
@media (max-width: map.get($grid-breakpoints, "lg")) {
    .site_footer {
        .wrapper {
            gap: 32px;
        }
        .col {
            width: 100%;
        }
    }
}
@media (max-width: map.get($grid-breakpoints, "md")) {
    .site_footer {
        display: block;
    }
}
