// Colors

:root {
    --main-bg: #1e1e1e;
    --bg-color: #000000cc;
    --orange-linear: radial-gradient(46.46% 173.72% at 50% 50%, #000 0%, #ff8d31 100%);
    --grey-linear: linear-gradient(180deg, #636363 0%, #c1c1c1 100%);
}
