// Colors

:root {
    --base-color: var(--grey-light);
    --grey-light: #272e32;
    --dark-black: #D6DFE3;
    --blue: #0082ab;
    --orange: #c75e00;
    --orange-light: #f79007;
    --green: #004F4F;
}
